.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}





.dropbtn {
    
    background-color: #B24C63;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
  }
  
  .dropdown {
    display:flex;
    position: relative;
    display: inline-block;
    left: 1050px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-size: 12.5px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}

body{
    background-color: rgb(236, 215, 223);
}
.boxed {
    border: 3px solid #B24C63 ;
    font-style: italic;
    font-size: 16px;
    padding-left: 30px;

  }

.name{
  /* padding-top: 500px; */
  text-align: center;
}

