.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-size: 12.5px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


body{
    background-color: burlywood;
}
.boxed {
    border: 3px solid green ;
    font-style: italic;
    font-size: 16px;

  }

#center{
    text-align: center;
    padding-top: 100px;
}
.name{
    text-align: center;
}

