body{
    font-family: 'Akaya Telivigala', cursive;
  }
.topnav{
  color: white;
  width: 90%;
  margin: 2% auto;
  font-weight: 700;
  font-size: 18px;
}

.topnav a{
  color: white;
}

.topnav a:hover{
  color: darkorange;
}

nav{
  width: 90%;
  margin: 2% auto;
  text-align: right;
}

nav a{
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
  text-transform: uppercase;
  /* font-weight: 700;
  font-size: 18px; */
}

nav a:hover{
  color: darkorange;
}

.banner{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.banner h2{
  position: absolute;
  top: 25%;
  left: 35%;
  transform: translate(-50%);
  color: #fff;
  font-size: 60px;
  margin: 0;
  animation: animate 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
  color: darkorange;
  text-align: center;
}

.banner q{
  position: absolute;
  top: 44%;
  left: 15%;
  color: #ddd;
  font-size: 18px;
  width: 50%;
  line-height: 30px;
}

@keyframes animate{
  0%{
    top: 30%;
    opacity:0;
  }
  70%{
    opacity:0.3
  }
  100%{
    opacity:1;
    top: 25%;
  }
}

   